
@model Cart 
@using Doan1.Ulitities;
<section class="shop-cart spad">
	@if (Model?.Lines.Count > 0)
	{
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th>Tổng </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lines in Model?.Lines)
                                {
                                    <tr>
                                        <td class="cart__product__item">
                                            <img src="@lines.Product.Image" alt="" style="max-width: 100px; max-height: 100px;">
                                            <div class="cart__product__item__title">
                                                <h6>@lines.Product.BookName</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">@lines.Product.Price</td>
                                        <td class="cart__quantity">
                                            <div class="pro-qty">
                                                <span class="dec qtybtn" >-</span>
                                                <input type="text" value="@lines.Quantity" >
                                                <span class="inc qtybtn" >+</span>
                                            </div>
                                        </td>
                                        <td class="cart__total">@(lines.Product.Price * lines.Quantity) VNĐ</td>
                                        <td class="cart__close"><a asp-controller="Cart" asp-action="Remove" asp-route-id="@lines.Product.BookID" class="icon_close"></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <ul>
                            <li>Tổng cộng <span>@Model.ComputeTotalValue() VNĐ</span></li>
                        </ul>
                        <a href="/Cart/Details" class="primary-btn">Tạo đơn hàng</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info" role="alert">
                        <strong>Thông báo!</strong> Hiện tại không có sản phẩm nào trong giỏ hàng.
                    </div>
                </div>
            </div>
        </div>
    }
</section
